<head>
	<% unless page_titles[controller.relative_url_root + request.path].nil? -%>
		<title><%=t :Name -%> :: <%= page_titles[request.path] -%></title>
	<% else -%>
		<% raise 'No title given for request path: ' + controller.relative_url_root + request.path %>
	<% end -%>
	<meta name="<%=t :author -%>" content="<%=t :Name %>" />
	<%= css_auto_include_tag %>
</head>