<%= render :partial => 'layouts/doctype' %>

<html xmlns="http://www.w3.org/1999/xhtml">
	<%= render :partial => 'layouts/html_head' %>
	
	<body>
		<%= render :partial => 'layouts/application/locale_select' %>
		<%= render :partial => 'layouts/application/header' %>
		<div id="Content">
			<div class="notice"><%= flash[:notice] -%></div>
			<div class="error"><%= flash[:error] %></div>
			<%= yield %>
			<div class="spacer"></div>
		</div>
		<%= render :partial => 'layouts/application/footer' %>
		
		<!-- # render :partial => 'layouts/google_analytics' -->
	</body>
</html>