<%= render :partial => 'layouts/doctype' %>

<html xmlns="http://www.w3.org/1999/xhtml">
	<%= render :partial => 'layouts/html_head' %>
	
	<body>
		<%= render :partial => 'layouts/application/locale_select' %>
		<%= yield %>
		<div class="notice"><%= flash[:notice] %></div>
		<%= render :partial => 'layouts/application/footer' %>
		
		<!-- # render :partial => 'layouts/google_analytics' -->
	</body>
</html>